.iner {
    background: #28cf2e;
}
.cid{
    border: 2px solid black;
    padding: 15px;
    margin: 7px;
}
.inp{
    display: flex;
}
.box {
    width: 100%;
    border: 1px solid rgb(12, 14, 12);
    background: #3265b8;
    box-sizing: border-box;
}
.bos{
    width: 25%;
    padding: 6px;
    background: crimson;
    border: 1px solid rgb(12, 14, 12);
    display: inline-block;
    box-sizing: border-box;
}
.set{
    border: 1px solid black;
    background: gray;
    max-width: 400px;
    margin: auto;
    text-align: center;
}